.intro-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f5f3ff;
}
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}
.video-frame {
  position: relative;
  height: 100vh;
}

.clickPath {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 40;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 16rem;
  border-radius: 0.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.minVidClick {
  transform-origin: center;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.5s ease-in;
}
.minVid {
  width: 16rem;
  height: 16rem;
  transform-origin: center;
  transform: scale(1.5);
  object-fit: cover;
  object-position: center;
}

.minVidClick:hover {
  transform: scale(1);
  opacity: 1;
}

.minVid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.next-video-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  visibility: hidden;
  z-index: 20;

  width: 16rem;
  height: 16rem;

  object-fit: cover;
  object-position: center;
}
.next-video {
  position: absolute;
  z-index: 0;
  inset: 0;
}

.gamingText {
  font-family: "Zentry", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 40;
  font-size: 8rem;
  line-height: 1.1;
  mix-blend-mode: difference;
}
.gamingText b {
  font-family: Zentry, sans-serif;
  font-feature-settings: "ss01" on;
}

.gamingText-white {
  color: #dfdff0;
  z-index: 50;
}

.gamingText-black {
  color: black;
  z-index: 40;
}

.introText {
  position: absolute;
  z-index: 50;
  color: #dfdff0;
  margin-top: 6.25rem;
  margin-left: 1.25rem;
}

.introText h1 {
  font-size: 10rem;
  line-height: 0.9;
  margin: 0;
}

.introText h1 b {
  font-family: Zentry, sans-serif;
  font-feature-settings: "ss01" on;
}

.introText p {
  margin-bottom: 1rem;
}

.introButton {
  background-color: yellow;
}

.introButton:hover {
  background-color: yellowgreen;
  scale: 1.1;
  border: none;
}
@media (max-width: 650px) {
  .gamingText {
    font-size: 7rem;
  }
  .introText h1 {
    font-size: 7rem;
  }
  .clickPath {
    display: none;
  }
}
